<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/styles.css'>
    <title>Message Board</title>
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class='board-container'>
      <h1>Message Board</h1>
      <% if (locals.currentUser) { %>
      <form action="/message" method="post" class='message-form'>
        <textarea
          name="message"
          id="message"
          maxlength='200'
          placeholder="leave a message..."
        ></textarea>
        <button class="btn post-btn">Post</button>
      </form>
      <% } %>
      
      <% if (locals.messages) {%>
      <div class='messages'>
        <% locals.messages.forEach(message => { %>
          <div class='message-container'>
            <span class='message-message'>"<%= message.message %>"</span>
            <span class='message-username'>- <%= message.username ? message.username : 'anonymous' %></span>
            <span class='message-date'><%= message.added.toLocaleDateString() %></span>
          </div>
        <% }) %>
      </div>
      <% } %>
    </div>
  </body>
</html>
