<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="homepage-container">
      <p class="hero">
        <span class="color-primary font-text">See</span>
        <span class="color-secondary font-header">Who's</span>
        <span class="color-primary font-text">Saying</span>
        <span class="color-secondary font-header">What</span>
      </p>
      <div>
        <a href="/board" class="preview">Preview the board</a>
      </div>
      <div>
        <ol class="directions font-text">
          <li>Figure out the access code</li>
          <li>Sign up for an account</li>
          <li>Reveal usernames</li>
          <li>Leave a message for others</li>
        </ol>
      </div>
      <div class="auth-buttons">
        <a class="btn auth-btn" href="/login">Login</a>
        <a class="btn auth-btn" href="/sign-up">Sign Up</a>
      </div>
    </div>
  </body>
</html>
