/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: boreal;
  src: url('/fonts/Borel/Borel-Regular.woff2');
}

@font-face {
  font-family: cagliostro;
  src: url('/fonts/Cagliostro/Cagliostro-Regular.woff2');
}

:root {
  --primary-color: #230903;
  --secondary-color: #aac0aa;
  --error-color: #ff4f4f;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.font-header {
  font-family: boreal;
}

.font-text {
  font-family: cagliostro;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ffffff, #e6f1e6);
  font-family: cagliostro;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary-color);
  font-family: boreal;
  font-size: 22px;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  font-family: cagliostro;
  text-decoration: none;
  color: white;
  border-radius: 35px;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  opacity: 0.8;
}

.logout-btn {
  padding: 10px;
  width: 100px;
}

.auth-btn {
  padding: 10px;
  width: 100px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.hero {
  margin-top: 20%;
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.directions {
  font-size: 16px;
  width: fit-content;
}

.auth-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.auth-form {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-title {
  color: white;
  font-size: 24px;
  text-align: center;
}

.auth-form-inputs {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.auth-form-inputs > input {
  padding: 6px 10px;
}

.error-msg {
  color: var(--error-color);
}

input {
  border: 1px solid gray;
  border-radius: 2px;
}

.input-error {
  border: 1px solid var(--error-color);
  border-radius: 2px;
}
